.box_chat-body {
  background: white;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9;
  width: 350px;
}

.mobile_chat-body {
  background: white;
  z-index: 9;
  width: 100%;
}

.box_chat-body-header {
  background: #293239;
  color: #fff;
  cursor: pointer;
  padding: 8px 24px;
}

.box_chat-body h4:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

.box_chat-body h4 {
  font-size: 12px;
}

.box_chat-body h5 {
  font-size: 10px;
}

.box_chat {
  background: #fff;
  border-left: 3px solid #f5f5f5;
  border-right: 3px solid #f5f5f5;
}

.box_chat-history {
  height: 330px;
  padding: 8px 24px;
  overflow-y: scroll;
}

.mobile_chat-history {
  height: 100%;
  min-height: calc(100vh - 175px);
  padding: 8px 24px;
  overflow-y: scroll;
}

.photo {
  margin-right: 12px;
}

.box_chat-message {
}

.box_chat-message img {
  border-radius: 50%;
  float: left;
}

.box_chat-message-content {
  margin-top: 10px;
}

.box_chat-time {
  float: right;
  font-size: 10px;
}

.box_chat-input-place {
  z-index: 2;
  padding: 0;
  width: 100%;
}

.box_ballon {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: .5em;
}

.box_chat-green-circle {
  border-radius: 50%;
  margin-right: 12px;
  background-color: green;
  height: 10px;
  width: 10px;
}

.box_content {
  margin: 0;
  padding: 0;
}
