@charset "utf-8";

.box_chat-body{
  background: white;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9;
  width: 500px;

}

/* ---------- LIVE-CHAT ---------- */

#live-chat header {
  background: #293239;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 8px 24px;
}

#live-chat h4:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

#live-chat h4 {
  font-size: 12px;
}

#live-chat h5 {
  font-size: 10px;
}

#live-chat form {
  padding: 24px;
}

#live-chat input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  outline: none;
}

.box_chat-message-counter {
  background: #e62727;
  border: 1px solid #fff;
  border-radius: 50%;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  left: 0;
  line-height: 28px;
  margin: -15px 0 0 -15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 28px;
}

.box_chat-close {
  background: #1b2126;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: right;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  margin: 2px 0 0 0;
  text-align: center;
  width: 16px;
}

.box_chat {
  background: #fff;
}

.box_chat-history {
  height: 402px;
  padding: 8px 24px;
  overflow-y: scroll;
}

.box_chat-message {
  margin: 16px 0;
}

.box_chat-message img {
  border-radius: 50%;
  float: left;
}

.box_chat-message-content {
  margin-left: 56px;
}

.box_chat-time {
  float: right;
  font-size: 10px;
}

.box_chat-feedback {
  font-style: italic;
  margin: 0 0 0 80px;
}

.box_chat-input-place{
  width: 100%;
}
.box_chat-input{
  border-radius: 20%;
}
.box_ballon{
  border: 1px solid #a9a9a9;
  border-radius: 20px;
  padding: .5em;
}
.box_content{
  margin: 0;
  padding: 0;
}
