.caret {
  position: relative;
}

.caret:after {
  content: '';
  position: absolute;
  right: calc(50% - 12px);
  top: 20px;
  border-top: 20px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
