.caret {
  position: relative;
}

@media (max-width: 350px) {
  .tipBubble {
    padding: 12px !important;
  }
}

.caret:after {
  content: '';
  position: absolute;
  right: calc(50% - 12px);
  top: -2px;
  border-top: 20px solid #333;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
